.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 6rem 0 6rem;
	background-color: #23283e;
	color: #90a0d9;

	.links {
		display: flex;
		gap: 16px;
	}

	li {
		list-style: none;

		a {
			&:hover {
				text-decoration: none;
			}
		}
	}

	@media (max-width: 767px) {
		padding: 2rem;

		.links {
			display: none;
		}
	}
}

.title {
	cursor: default;
}
