.main {
	display: flex;
	flex-direction: column;
	padding: 3rem 6rem;
	min-height: 100vh;
	text-align: center;
	background: #23283e;
	color: #90a0d9;
}

/* Mobile */
@media (max-width: 700px) {
	.content {
		padding: 4rem;
	}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
	.grid {
		grid-template-columns: repeat(2, 50%);
	}
}
